@font-face {
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSans-Regular.otf') format('otf');
  }

* {
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    color: cornflowerblue;
}

img {
    height: 100px;
    width: 100px;
}
